.main_wrapper {
  position: relative;
  background-image: url(/src/assets/img/nature_wall.jpg);
  background-size: cover;
  height: 100vh;

}
.main_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 65px;
  }
.flex_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main_title > h1 {
  margin: 0;
}
.main_title > img {
  width: 150px;
  height: 150px;
 
  margin-top: 5rem;
}
.main_title {
  text-align: center;
  color: #fff;
  margin-top: 3rem;
}
.login_page {
  box-sizing: border-box;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0,0,0, .5);
  transition: .5s;
  border-radius: 5px;
  width: 350px;
  margin-top: 7rem;
}
.login_page:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0);
  background: rgba(255,255,255,.8);
  
}
.signup_link {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.signup_link a {
  color: #fff;
  text-decoration: none;
}
/* --------------------------- MEDIA ---------------------------- */
@media (min-width: 768px) {
  .main_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .main_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .main_container {
    width: 1170px;
  }
}