.main_wrapper {
  position: relative;
  background: #84ffff; /* Old browsers */
  background: -moz-linear-gradient(top, #616161 0%, #424242 43%, #616161 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #616161 0%,#424242 43%,#616161 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #616161 0%,#424242 43%,#616161 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100vh;

}
.main_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 65px;
  }
.flex_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main_title > h1 {
  margin: 0;
}
.main_title > img {
  width: 150px;
  height: 150px;
 
  margin-top: 5rem;
}
.main_title {
  text-align: center;
  color: #fff;
  margin-top: 3rem;
}
.login_page {
  padding: 2rem;
}
/* --------------------------- MEDIA ---------------------------- */
@media (min-width: 768px) {
  .main_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .main_container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .main_container {
    width: 1170px;
  }
}