.side_wrapp {
  background-color: #000;
  width: 100px;
  -webkit-transition: width 1s, -webkit-transform 1s;
  transition: width 1s, transform 1s;
}
.side_wrapp_open {
   width: 300px;
}
.side_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  position: relative;
  height: 100vh;
}
.side_container ul {
  list-style-type: none;
  padding: 0;
}
.user_avatar .img {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  margin: .5rem 0 .5rem 0;
}
.files_list {
  padding: .5rem;
}
.files_list svg {
  width: 50px;
  height: 50px;
}
.files_list path {
  transition: fill .3s;
}
.files_list svg:hover path {
  fill: red;
}
.menu_control_btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.add_chat {
  color: #000;
  border-radius: 20px;
  background-color: #fff;
  padding: 3px;
  cursor: pointer;
}
.direct_list {
  padding: .5rem;
}
.direct_list p {
  font-size: .8em;
  color: gray;
}
.direct_list li {
  font-size: .8em;
  color: gray;
  padding: .5em 0 .5em 0;
  cursor: pointer;
}
