.profile_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 100%;
  padding: 10% 7% 7% 10%;
}
.user_data {
  border: 1px solid #000;
  padding: 3rem;
  position: relative;
  width: 100%;
  height: 100%;

}
.user_avatar {
  border: 1px solid #000;
  width: 320px;
  height: 500px;
  position: absolute;
  top: -9%;
  left: -5%;
  background-color: #fff;
}
.user_data h1 {
  position: absolute;
  top: 2rem;
  left: 14rem;
  z-index: 100;
  font-size: 3.6em;
}
.user_data h1 > span {
  padding-left: 1rem;
}
.add_button {
  position: absolute;
  top: 2rem;
  right: 3rem;
  background: transparent;
  border: 2px solid blue;
  padding: .5rem 1rem;
  color: #000;
  border-radius: 5px;
}