<div class="file_list_wrapper"
dropZone
(hovered)="toggleHover($event)"
(dropped)="startUpload($event)"
[class.hovering]="isHovering"
>
  <div class="container">
    <div class="content_wrapper">
      <div class="file_list">
        <h1>Transfer you files</h1>
        <mat-list>
          <h3 mat-subheader>Files</h3>
          <mat-list-item *ngFor="let file of files | async">
            <span class="type_image" *ngIf="checkedType(file.type) === 'image'"><img src="{{file.url}}" alt="image"></span>
            <span class="type_image" *ngIf="checkedType(file.type) === 'audio'">
              <audio controls>
                <source src="{{file.url}}" type="{{file.type}}" />
              </audio>
            </span>
            <span class="type_image" *ngIf="checkedType(file.type) === 'text'"><app-render-text [url]="file.url"></app-render-text></span>
            <p mat-line><a [href]="file.url" target="_blank" rel="noopener" download="file.url">{{file.filename}}</a></p>
            <p mat-line> {{file.createdAt | date: 'mm:ss'}} </p>
          </mat-list-item>
        </mat-list>
        
      </div>
    </div>
  </div>
</div>

