.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 98%;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  padding: .5rem 1rem .3rem .5rem;
  margin-right: 1rem;
  outline: none !important;
}
.example-full-width::placeholder {
  opacity: 0.6;
  font-size: .8em;
}
.input_text {
  position: relative;
  padding: 0rem 1rem 0rem 0rem;
  background-color: #fafafa;
  flex-grow: 1;
  max-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(33,33,33,.5);
  -moz-box-shadow: 0px 0px 5px 1px rgba(33,33,33,.5);
  box-shadow: 0px 0px 5px 1px rgba(33,33,33,.5);
  transition: all .5s;
  margin: 0 1rem;
}
.container_message {
  position: relative;
  overflow: auto;
  flex-grow: 2;
  max-height: 93%;
}
.cont {
  padding: 0 100px 0 100px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* .msg {
  position: relative;
	background: #81d4fa;
  border-radius: 1em;
  margin: 1rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
} */
.scroll::-webkit-scrollbar {
  width: 3px;

}
scroll::-webkit-scrollbar-track-piece {
  width: 0;
}

.scroll::-webkit-scrollbar-track {
  opacity: 9;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #263238; 
}

.msg {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0 0 0;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-shadow: 0 4px 2px -2px #e0e0e0;
  -moz-box-shadow: 0 4px 2px -2px #e0e0e0;
  box-shadow: 0 4px 2px -2px #e0e0e0;
  opacity: 0;
  -webkit-animation: message 1s forwards ease-out;
  animation: message 1s forwards ease-out;
}
.msg_body {
  color: #000;
  margin-top: 0;
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.msg_title > span{
  color: #e0e0e0;
  font-size: .7em;
  padding-left: .5rem;
  padding-top: 3px;
}

.msg_title {
  color: #212121;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
}
.msg_title_alien {
  color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;

}
.msg_title_alien > span {
  color: #e0e0e0;
  font-size: .7em;
  padding-right: .5rem;
  order: -1;
  padding-top: 3px;
}

.msg_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: .5rem;
  border-right: 1px solid #e0e0e0;
  margin-right: 1rem;
}
.msg_info_guest {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: .5rem;
  border-left: 1px solid #e0e0e0;
  margin-left: 1rem;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8rem 0 0 0;
}

.user_img {
  transform: rotateY(180deg);
}
.download_file input {
  display: none;
}
.download_file {
 
  width: 50px;
  height: 70px;
}
app-file-modal {
  width: 100%;
  height: 100%;
}
.download_file svg > path {
  fill: #e0e0e0;
  transition: fill .3s;
}
.download_file:hover svg > path {
  fill: #ffc400;
}
.file_in_message img {
  width: 100px;
}
.file_modal {
  position: absolute;
  top: -50px;
  left: 9px;
}
.file_modal img {
  width: 50px;
}
@keyframes message {
  0%   {opacity: 0;}
  100% {opacity: 1}
}
