<div class="wrapper">
  <div #scrollContainer class="container_message scroll">
    <div class="cont">
      <div *ngFor="let msg of data | async" class="msg" [style.justifyContent]="msg.sender.id == userId ? 'flex-start' : 'flex-end'">
        <div class="msg_content" [style.flexDirection]="msg.sender.id == userId ? ' ' : 'row-reverse'">
          <div [ngClass]="{'msg_info': msg.sender.id == userId, 'msg_info_guest': msg.sender.id !== userId}">
            <div class="avatar">
               <img class="user_img" *ngIf="msg.sender.id == userId" src="src/assets/img/user.svg" alt="user">
               <img *ngIf="msg.sender.id !== userId" src="src/assets/img/guest.svg" alt="user">
            </div>
            <p
              [ngClass]="msg.sender.id == userId ? 'msg_title' : 'msg_title_alien'"
            >
              {{msg.sender.username | titlecase}} <span>{{msg.createdAt | date: 'mm:ss'}}</span></p>
          </div>
          <p class="msg_body" [style.justifyContent]="msg.sender.id == userId ? 'flex-start' : 'flex-end'">{{msg.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="input_text">
    <form class="example-form" (submit)="onClickk($event)">
      <mat-form-field class="example-full-width">
        <input matInput  maxlength="256" placeholder="Type you message" [formControl]="message" required>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>
  </div>
</div>