<div
  class="wrapper"
  dropZone
  (hovered)="toggleHover($event)"
  (dropped)="startUpload($event)"
  [class.hovering]="isHovering"
>
  <div #scrollContainer class="container_message scroll">
    <div class="cont">
      <div *ngFor="let msg of data | async" class="msg" [style.justifyContent]="msg.sender.id == userId ? 'flex-start' : 'flex-end'">
        <div class="msg_content" [style.flexDirection]="msg.sender.id == userId ? ' ' : 'row-reverse'">
          <div [ngClass]="{'msg_info': msg.sender.id == userId, 'msg_info_guest': msg.sender.id !== userId}">
            <div class="avatar">
               <img class="user_img" *ngIf="msg.sender.id == userId" src="/assets/img/user.svg" alt="user">
               <img *ngIf="msg.sender.id !== userId" src="/assets/img/guest.svg" alt="user">
            </div>
            <p
              [ngClass]="msg.sender.id == userId ? 'msg_title' : 'msg_title_alien'"
            >
              {{msg.sender.username | titlecase}} <span>{{msg.createdAt | date: 'mm:ss'}}</span></p>
          </div>
          <div class="msg_body" [style.justifyContent]="msg.sender.id == userId ? 'flex-start' : 'flex-end'">
            <div *ngIf="msg.filetype" class="file_in_message">
              <img [src]="msg.url" alt="image">
              <br>
            </div>
            <p>{{msg.text}}</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class="input_text">
    <div *ngIf="choosenFile" class="file_modal">
      <img [src]="choosenFile" alt="">
    </div>
    <div class="download_file">
      <!-- <input class="file-input" type="file" id="file" (change)="startUpload($event)"> -->
      <app-file-modal></app-file-modal>
    </div>
    <form class="example-form" (submit)="onClickk($event)">
      <input class="example-full-width" type="text" placeholder="Type you message" [formControl]="message">
    </form>
  </div>
</div>