.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.input_text {
  padding: .5rem 1rem .5rem 1rem;
  margin: 0 1rem .5rem 1rem;
  /* background-color: gray; */
  flex-grow: 1;
  max-height: 4rem;
  border: 1px solid #cfd8dc;
  border-radius: 1rem;
}
.container_message {
  width: 100vw;
  
  overflow: auto;
  flex-grow: 2;
  margin-top: 70px;
  
}
.cont {
  padding: 0 100px 0 100px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  overflow: hidden;
}
.msg {
  position: relative;
	background: #81d4fa;
  border-radius: 1em;
  margin: 1rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
}
.scroll::-webkit-scrollbar {
  width: 3px;

}
scroll::-webkit-scrollbar-track-piece {
  width: 0;
}

.scroll::-webkit-scrollbar-track {
  opacity: 9;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #263238; 
}
.msg:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #81d4fa;
	border-left: 0;
	border-bottom: 0;
	margin-top: -4px;
	margin-left: -8px;
}
.msg_alien {
  position: relative;
	background: #ff4081;
  border-radius: 1em;
  margin: 1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
}
.msg_alien:after{
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color: #ff4081;
	border-right: 0;
	border-top: 0;
	margin-top: -4px;
	margin-right: -8px;
}
.msg_body {
  color: #fff;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
}
.msg_body_alien {
  color: #fff;
  margin-top: 0;
  display: flex;
  justify-content: flex-end;
}
.msg_title > span{
  color: #e0e0e0;
  font-size: .7em;
  padding-left: .5rem;
}

.msg_title {
  color: #212121;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.msg_title_alien {
  color: #212121;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.msg_title_alien > span {
  color: #e0e0e0;
  font-size: .7em;
  padding-right: .5rem;
  order: -1;
}

.msg_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
