<!-- <div class="signup__container">
  <form (submit)="onSubmit($event)" class="signup__form">
    <div class="container">
      <div>
        <input type="text" autocomplete="off" placeholder="Username" id="username" class="signup__input">
      </div>
      <div>
        <input type="text" autocomplete="off" placeholder="Password" id="password" class="signup__input">
      </div>
      <div>
        <input type="text" autocomplete="off" placeholder="Cpassword" id="cpassword" class="signup__input">
      </div>
      <button type="submit" id="submit" class="signup_btn">Submit</button>
    </div>
  </form>
</div> -->
<div class="signup__container">
  <form (submit)="onSubmit($event)" class="signup__form">
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="cpassword">
      <mat-icon matSuffix (click)="hideC = !hideC">{{hideC ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-button color="primary" type="submit">Submit</button>
    <div class="login_link">
        <a routerLink="" routerLinkActive="active">Or back to Login</a>
    </div>
  </form>
</div>
