<div class="dropdown">
    <div class="dropdown-content">
       <ul>
          <li (click)="openVerticallyCentered(photos)"><i class="far fa-images"></i></li>
          <li (click)="openVerticallyCentered(Music)"><i class="fas fa-music"></i></li>
          <li (click)="openVerticallyCentered(Documents)"><i class="far fa-file-alt"></i></li>
       </ul>
      </div>
  <span class="dropbtn">
    <svg width="48" height="30px" width="30px" viewBox="0 0 48 48"><path d="M26 14h-4v8h-8v4h8v8h4v-8h8v-4h-8v-8zM24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.82 0-16-7.18-16-16S15.18 8 24 8s16 7.18 16 16-7.18 16-16 16z"/></svg>
  </span>
</div>

<ng-template #photos let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Photos</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="images_modal_body">
      <div class="image_item" *ngFor="let image of images"><img [src]="image.url" alt="">
        <span>
          <mat-radio-group class="example-radio-group" [(ngModel)]="choosenFile">
            <mat-radio-button class="example-radio-button" [value]="image.url">
            </mat-radio-button>
          </mat-radio-group>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Save click')">Add Image</button>
    </div>
  </ng-template>

  <ng-template #Music let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Music</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="music_item" *ngFor="let music of musics">
        <span>{{music.filename}}</span>
        <audio controls>
          <source src="{{music.url}}" type="{{music.type}}" />
        </audio>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <ng-template #Documents let-modal>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p *ngFor="let doc of documents">{{doc.filename}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>