.loggin__container{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.loggin__form{
  padding: 3rem;
  border-radius: 50px;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}
