.root__container {
  overflow-x: hidden;
  
}

/*
================
    Header
================
*/

/*
    Slide Menu
= = = = = = = = =
*/
.side-menu__container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 25;
}

.side-menu__container-active {
  pointer-events: auto;
}

.side-menu__container::before {
  content: '';
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0c1066;
  opacity: 0;
  transition: opacity 300ms linear;
  will-change: opacity;
}

.side-menu__container-active::before {
  opacity: 0.3;
}

.slide-menu {
  box-sizing: border-box;
  transform: translateX(-103%);
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 90%;
  max-width: 26rem;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr 1fr;
  grid-gap: 1rem;
  transition: transform 300ms linear;
  will-change: transform;
}

.slide-menu-active {
  transform: none;
}

.menu-header {
  background: linear-gradient(to right, #00FF9B, #5f84fb);
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "greeting greeting" "image details";
  box-sizing: border-box;
  width: 100%;
  align-content: center;
  color: white;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 255, 0.2);
}

.greeting__text {
  grid-area: greeting;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin-top: 1rem;
  justify-self: center;
  align-self: center;
}

.account-details {
  grid-area: details;
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
  align-self: center;
}

.name__text {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.email__text {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.menu-body {
  display: grid;
  width: 100%;
}

.profile-image__container {
  grid-area: image;
  margin-right: 0.5rem;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  align-self: center;
  margin-left: 2rem;
}

.profile__image {
  max-width: 4rem;
}

/*Header*/
.main__header {
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 0.25fr;
  grid-template-rows: 1fr; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  height: 4rem;
  margin: 0;
  align-items: center;
  transition: background-color 500ms linear;
  animation: 1s ease-in-out 0ms 1 fadein;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #212121;
}

.main__header-dark {
  background-color: #2B244D;
  color: white;
}

.toggle-button__container {
  cursor: pointer;
  position: relative;
  margin: 0 0.5rem;
}

.mode-toggle__input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mode-toggle__bg {
  height: 1rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  transition: background-color 300ms linear;
}

.mode-toggle__circle {
  height: 1.30rem;
  width: 1.30rem;
  background-color: #2B244D;
  position: absolute;
  top: -0.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
  transition: left 300ms linear;
  left: 0.1rem;
}

.mode-toggle__circle-checked {
  background-color: white;
  left: 1.75rem;
}

.mode-toggle__bg-checked {
  background-color: #FF0070;
}

.mode-toggle__text {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*Content*/
.left__section {
  /* display: flex;
  justify-content: flex-start;
  text-align: center; */
  max-width: 5rem;
}

.date__text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: inline;
  margin: 0.5rem 0;
}

/*SVGs*/
.hamburger__icon {
  position: relative;
  z-index: 35;
  height: 1rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.logo__icon {
  height: 2rem;
  margin-left: 6rem;
}

.logo__text {
  fill: #2B244D;
}

.logo__text-dark {
  fill: #ffff;
}

.hamburger__icon__fill {
  fill: #2B244D;
}

.hamburger__icon__fill-dark {
  fill: #ffff;
}

/*
================
    Body
================
*/

.main-container__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
  background: white;
  transition: opacity 300ms linear;
}

.main-container__bg-dark {
  opacity: 1;
  background: linear-gradient(to bottom, #B290FF, #2E1D65);
  transition: opacity 300ms linear;
}

/*
================-
    Footer
================
*/
.main__footer {
  background: transparent;
  position: fixed;
  bottom: 1rem;
  left: 1.5rem;
  z-index: 100;
  margin: 1rem;
}

.copyright__text {
  letter-spacing: 0.1rem;
  color: #000;
}

@media only screen and (max-width: 300px) {
  .slide-menu {
    width: 100%;
  }
}
.mobile-top-btn {
  /* position: absolute;
  top: 0;
  left: 2rem; */
  z-index: 1000;
  display: block;
  width: 52px;
	height: 100%;
	position: relative;
  cursor: pointer;
  /* padding-left: 10px; */
}
.mobile-top-btn span {
	display: block;
	position: absolute;
	top: 16px;
	left: 20px;
	right: -6px;
	height: 3px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background-color: #000;
	-webkit-transition: background 0s, 0.2s;
	transition: background 0s, 0.2s;
}
.mobile-top-btn span:before,
.mobile-top-btn span:after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-border-radius: 2px;
	border-radius: 10px;
	background-color: #000;
	content: "";
	-webkit-transition-duration: 0.2s, 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s, 0.2s;
	-webkit-transition-delay: 0.2s, 0s, 0s;
	transition-delay: 0.2s, 0s, 0s
}
.white span,
.white span:before,
.white span:after {
  background-color: #fff;
}
.mobile-top-btn span:before {
	top: -10px;
	-webkit-transition-property: top, -webkit-transform;
	transition-property: top, -webkit-transform;
	transition-property: top, transform ;
	transition-property: top, transform, -webkit-transform;
}
.mobile-top-btn span:after {
	bottom: -10px;
	-webkit-transition-property: bottom, -webkit-transform;
	transition-property: bottom, -webkit-transform;
	transition-property: bottom, transform;
	transition-property: bottom, transform, -webkit-transform;
	width: 70%;
}
.mobile-top-btn.active span {
  background: none;
 }
  .mobile-top-btn.active span:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s, 0.2s;
    transition-delay: 0s, 0.2s, 0.2s;
    background: #fff;;
  }
  .mobile-top-btn.active span:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s, 0.2s;
    transition-delay: 0s, 0.2s, 0.2s;
    width: 100%;
    background: #fff;;
  }
.mode-toggle__container {
  display: flex;
  justify-content: center;
  text-align: center;
  min-width: 8rem;
  
}