.file_wrapper {
  width: 100%;
  height: 100%;
  border-radius: 10px 5px;
  color: #ffd54f;
  padding: .5rem;
  border: 1px dashed #ffd54f;
  background-color: #fff;
  position: relative;
  font-size: .9em;
}
.opaciti_container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: rgba(255,255,255,0.01);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.25) 21%, rgba(255,255,255,0.29) 25%, rgba(255,255,255,0.45) 39%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.01)), color-stop(21%, rgba(255,255,255,0.25)), color-stop(25%, rgba(255,255,255,0.29)), color-stop(39%, rgba(255,255,255,0.45)), color-stop(88%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.25) 21%, rgba(255,255,255,0.29) 25%, rgba(255,255,255,0.45) 39%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.25) 21%, rgba(255,255,255,0.29) 25%, rgba(255,255,255,0.45) 39%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.25) 21%, rgba(255,255,255,0.29) 25%, rgba(255,255,255,0.45) 39%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.25) 21%, rgba(255,255,255,0.29) 25%, rgba(255,255,255,0.45) 39%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  }