/* .dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  border: 2px dashed #f16624;
  border-radius: 5px;
  background: white;
  margin: 10px 0;
}
.dropzone.hovering {
  border: 2px solid #f16624;
  color: #dadada !important;
}
progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

ul > li {
  display: block;
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  margin: 10px;
  
} */



.draggable {
  cursor: move;
  user-select: none;
}
.movable:not(.dragging) {
  transition: transform 300ms ease-in-out;
}
.box {
  background: #bada55;
  border: 1px solid black;
  padding: 10px 20px;
  display: inline-block;
}
.box.dragging {
  background: coral;
}
.box.sortable.dragging {
  background: none;
  border: 1px dashed black;
  color: transparent;
}
.area {
  background: #c0ffee;
  padding: 40px;
}
button {
  margin-top: 20px;
}
ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
}
ul.horizontal {
  flex-direction: row;
  flex-wrap: wrap;
}
